.wrapper {
  display: flex;
  min-height: 100vh;
}

.content {
  margin: auto;
}

.title {
  text-align: center;
  color: #fff;
}

.logo {
  margin: auto;
  display: block;
  width: 120px;
  height: 120px;
}
